
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IPL Auction</title>
    <link rel="stylesheet" th:href="@{/css/auctionStyle.css}">

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>

    <script th:src="@{/js/auctionService.js}"></script>
</head>
<body>

<h2>🏏 IPL Auction</h2>

<input type="hidden" id="playerId" name="playerId" th:value="${player.id}" />
<input type="hidden" id="userTeamCode" name="userTeamCode" th:value="${userTeam.cdTeam}" />
<input type="hidden" id="lastPlayerId" name="lastPlayerId" th.value="${lastPlayerId}" />

<div class="auction-container">
    <!-- Left Column -->
    <div>
        <div th:each="team : ${leftTeams}" class="team-box">
            <img th:src="@{${team.teamLogoPath}}" alt="Team Logo" class="team-logo"/>
            <div><strong th:text="${team.dcTeam}">Team Name</strong></div>
            <div>Rem Purse: ₹<span th:text="${team.amRemainingPurse}"></span></div>
            <div>Used Purse: ₹<span th:text="${team.amUsedPurse}"></span></div>
            <div>Total Players: <span th:text="${team.totalPlayers}"></span></div>
        </div>
    </div>

    <!-- Center Column -->
    <div>
        <div class="player-box">
            <h3 th:text="${player.firstName} + ' ' + ${player.lastName}">Player Name</h3>
            <!--<img th:src="@{${player.imagePath}}" alt="Player Image" class="player-image"/>-->
            <img src="/images/teams/defaultPlayer.png" alt="Player Image" class="player-image"/>
            Player ID: <span th:text="${player.id}">0</span><br>
            Set ID: <span th:text="${player.idSet}">0</span><br>
            Country: <span th:text="${player.country}">Country</span><br>
            State: <span th:text="${player.stateAssociation}">State</span><br>
            Age: <span th:text="${player.age}">0</span><br>
            Role: <span th:text="${player.playing_type}">Role</span><br>
            Batting: <span th:text="${player.battingStyle}">Style</span><br>
            Bowling: <span th:text="${player.bowlingStyle}">Style</span><br>
            Status: <span th:text="${(player.in_cap == 1 ? 'Capped' : 'Uncapped') + ' | ' + (player.in_overseas == 1 ? 'Overseas' : 'Indian')}"></span><br><br>

            <span class="highlight">Category: <span th:text="${player.category}">Category</span></span><br>
            <span class="highlight">Base Amount: ₹<span th:text="${player.am_base_rupees}">0</span></span><br><br>

            <button type="button" id="bidBtn" style="background-color:#3498db; color:white; padding:10px 25px;"
                    onclick="placeBid()">
                Bid
            </button>
        </div>

        <div class="panel" style="margin-top:10px;">
            <div id="auctionResultBox" style="display:none; padding:16px; border:2px solid #444; border-radius:8px; margin-top:12px;">
                <h3 id="auctionResultTitle">Event Notification</h3>
                <p id="auctionResultMessage"></p>
            </div>

            <div id="countdownBox" style="display:none; color:red; font-weight:bold;">
                Next bid in <span id="countdown">5</span> sec...
            </div>
        </div>
        <div class="user-team">
            <img th:src="@{${userTeam.teamLogoPath}}" alt="Team Logo" class="team-logo"/>
            <h3>Your Team: <span th:text="${userTeam.dcTeam}">User Team</span></h3>
            Remaining Purse: ₹<span th:text="${userTeam.amRemainingPurse}">0</span>
        </div>
    </div>

    <!-- Right Column -->
    <div>
        <div th:each="team : ${rightTeams}" class="team-box">
            <img th:src="@{${team.teamLogoPath}}" alt="Team Logo" class="team-logo"/>
            <div><strong th:text="${team.dcTeam}">Team Name</strong></div>
            <div>Rem Purse: ₹<span th:id="${team.cdTeam + '_remaining'}" th:text="${team.amRemainingPurse}"></span></div>
            <div>Used Purse: ₹<span th:id="${team.cdTeam + '_used'}" th:text="${team.amUsedPurse}"></span></div>
            <div>Total Players: <span th:id="${team.cdTeam + '_players'}" th:text="${team.totalPlayers}"></span></div>
        </div>
        <div class="panel">
            <b>Bid History Panel</b>
            <ul id="bidHistoryList"></ul>

        </div>
    </div>
</div>


</body>
</html>